a {
    text-decoration: none;
    color: inherit;
}
a:hover {
   color: black;
}
li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    transition: all .5s;
    font-weight:600 ;
}
img {
    width: 100%;
}
li:hover {
    color: black;
}
.nav-bar {
    position: relative;
    color: #797272a9;
   
}
.list2-nav {
   position:absolute;
   right: 0;
}
.fa-bag-shopping {
    font-size: 25px;
    margin:  0 10px;
    color: black;
}
.fa-user {
    font-size: 25px;
    color: black;
}
.dropdownn {
    display: none;
}
.container-navbar {
    display: flex;
}
.drop-navbar {
    font-size: 40px;
}
/* --------------------------------------------- */
h1{
    text-align: center;
    font-size: 80px;
}
.sec1 {
    height: 350px;
    width: 90%;
    margin: auto;
}
.parent1 {
    height: 100%;
}
.photos-sec1 {
    display: flex;
    justify-content: space-between;
    height: 100%;
    color: white;
}
.right-photo-sec1 {
    width: 49%;
    background-image: url(../img2/111.jpg);
    background-position: top;
    background-size: cover;
}
.left-photo-sec1 {
    width: 49%;
    background-image: url(../img2/222.jpg);
    background-position: center;
    background-size: cover;
}
.photos-sec1 h2 {
    margin: 30px 0;
    font-size: 40px;
}
.photos-sec1 p {
    
    font-size: 20px;
}
.photos-sec1 .botton-sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: solid white 1px;
    transition: all .5s;
}
.photos-sec1 .botton-sec1:hover {
    color: black;
    background-color: white;
}
.botton-sec1-div {
    display: flex;
    justify-content: center;
}
/* ---------------------------------------- */
.sec2  {
    height: 210%;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5%;
 }
 .text-sec5 {
    justify-content: space-between;
 }
 .text-sec5 p {
    font-size: 15px;
    font-weight: 500;
 }
.underline-p-sec5 {
    height: 2px;
    background-color: orange;
    width: 100%;
    float: right;
    width: 6%;
    transition: all .5s;
}
 .underline-p-sec5:hover{
    background-color: black;
}
.card-sec5 {
    text-align: center;
}
.p1-text-sec5 {
    font-size: 20px;
    font-weight: bold;
}
.text-card-sec5 {
    margin-top: 10px;
}
.p2-text-sec5 {
    color: #abb8c3;
}
.img-card-sec5 {
    position: relative; 
}
.under-card {
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 25px;
   opacity: 0;
    transition: all .5s;
}
.img-card-sec5:hover .under-card {
opacity: 1;
}

/* ------------------------------------------------ */
.sec3 {
    height: 200%;
    background-color: #dcdcdc;
}
.parent3 {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.text-sec3 {
    width: 60%;
     position: relative;
}
.text-sec3 p{
    font-size: 20px;
     
}
.icon-sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 30px;
   border: solid   #797973 1px;
   color:  #797973;
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
.botton-sec3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: all .5s;
}
.botton-sec3:hover {
    background-color: red;
    color: black;
}
.text-sec3::after{
    content: ' ';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: orange;
    right: 0;
}
/* ----------------------------- -----------*/
.last-sec {
    background-image: url(../img2/back-sec10.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.last-parent {
    height: 100%;
}
.text-last-sec h2{
    font-size: 70px;
    color: white;
}
.text-last-sec  p{
    text-align: center;
    font-size: 20px;
    color: white;
}
.btn-last-sec {
    width: 150px;
    height: 50px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    background-color: white;
    border-color: black;
    transition: all .5s;
    cursor: pointer;
}
.btn-last-sec:hover {
    background-color: black;
    color: white;
}
/* --------------------------------------- */
footer {
    height: 400px;    
    
  }
  .parent-foot {
    display: flex;
  }
  .part1-foot .logo-foot {
      width: 60%;
      margin-bottom: 50px;
  }
  .part1-foot {
      width: 20%;
      position: relative;
  }
  .parent-foot {
      margin-top: 100px;
      justify-content: space-evenly;
  }
  .part1-foot p {
      color: #a9a99b;
      font-size: 20px;
  }
  .part1-foot a:hover {
      color: black;
      
  }
  .part1-foot h3 {
      margin-bottom: 50px;
  }
  .social-media-accounts {
      width: 50%;
      position: absolute;
      bottom: 0;
      justify-content: space-between;
  }
  .social-media-accounts i {
      transition: all .5s;
      cursor: pointer;
  }
  .social-media-accounts i:hover  { 
      color: #fcb900;
  }
  /* ---------------------------------------- */

  
@media screen and (max-width:992px) {
    .nav-bar {
        height: 70px;
    }
    .list2-nav {
        left: 240px;
        bottom: 0;
    }
   .sec2 {
    height: 360%;
   }
   h4 {
    font-size: 40px;
   }
   .card-sec5 {
    width: 49%;
   }
   .text-last-sec h2{
    font-size: 50px;
   }
   .btn-last-sec {
    width: 190px;
   }
   .part1-foot .logo-foot {
    width: 80%;
   }
   .social-media-accounts {
    width: 70%;
    
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}
.icon-sec3 {
    width: 80px;
    
}
.botton-sec3{
    width: 250px;
    margin-left:50px ;
}
}
@media screen and (max-width:768px) {
    nav {
        display: none;
    }

    .dropdownn {
        display: block;
        background-color: white;
    }
    h1{
        text-align: center;
        font-size: 120px;
    }
    
 footer {
    height: 150%;
    position: relative;
}

.part1-foot {
    text-align: center;
    width: 46%;
    display: inline-block;
    margin-top: 50px;

}

.part1-foot p {
    font-size: 25px;

}

.part1-foot h3 {
    font-size: 35px;

}

.parent-foot {
    display:inline-block ;
}

.social-media-accounts {
    bottom: -470px;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.logo-foot {
    margin-left: 20px;
}
.text-last-sec h2 {
    font-size: 55px;
    text-align: center;
}
.photos-sec1 {
    display: block;
}
.left-photo-sec1 {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
.left-photo-sec1 p{
    font-size: 30px;
}
.left-photo-sec1 h2{
    font-size: 50px;
}
.right-photo-sec1 {
    width: 100%;
    height: 400px;
   
}
.right-photo-sec1 p{
    font-size: 30px;
}
.right-photo-sec1 h2{
    font-size: 50px;
}
.sec1{
    height: 130%;
}
.botton-sec1-div{

    margin-left: 20px;
}
.botton2-sec1-div{

    margin-left: 45px;
}
    .sec2 {
        height: 980%;
        margin-bottom: 5%;
    }
    .card-sec5 {
        width: 100%;
        margin-top: 50px;
        
    }
    .sec3 {
        height: 350px
    }
  .parent3 {
   
    display: block;
  }
  .text-sec3 {
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .text-sec3 p{
   font-size: 25px;
   margin-right: 10px;
  }
  .text-sec3 h2{
   font-size: 30px;
   
  }
  .btn-sec3-div {
    display: flex;
    justify-content: center;
    
  }
} 

@media screen and (max-width:600px){
    .logo-nav {
       width: 100% ;
    }
    .container-navbar {
     display: block ;
    }
    .drop-navbar {
     font-size: 60px;
     margin-top: 25px;
    }
    /* ------------------------------------- */
    .btn-last-sec {
     width: 70%;
     height: 70px;
     margin: 25px;
     margin-left: calc(30%/2);
 }
 .btns-last-sec {
     display: block !important;
     
 }
 /* ----------------------------------------- */
    footer {
     height: 290vh;
     position: relative;
   }
    .part1-foot {
      text-align: center;
      width: 100%;
      margin-top: 70px;
    }
    .part1-foot p{
      font-size: 40px;
      
    }
    .part1-foot h3{
     font-size: 50px;
   }
   .social-media-accounts {
     bottom: -1800px;
     
     font-size: 40px;
    width: 100%;
   }
   .logo-foot {
     margin-left: 20px;
   }
   /* ---------------------------- */
   .sec1 {
    height: 190vh;
}
   h1 {
    font-size: 100px;
   }
   .left-photo-sec1 {
    height: 600px;
   }
   .left-photo-sec1 p{
   font-size: 50px;
   }
   .right-photo-sec1 {
    height: 600px;
   }
   .right-photo-sec1 p{
    font-size: 50px;
    }
    .p1-text-sec5 {
        font-size: 28px;
    }
    .p2-text-sec5 {
        font-size: 20px;
    }
    .underline-p-sec5 {
        width: 16%;
    }
    .sec2 {
        height: 830%;
    }
    .text-sec3 p{
      font-size: 35px;
    }
    .text-sec3 h2{
      font-size: 40px;
    }
    .icon-sec3 {
        width: 300px;
       height: 100px;
        font-size: 40px;
    }
    .sec3 {
        height: 550%;
        padding-bottom: 10%;
    }
   .btn-sec3-div {
     margin-right: 20%;
   }
   .drop-navbar li{
    
    font-size: 30px;
}
  
}
@media screen and (max-width:290px){
 
    .social-media-accounts {
   
        bottom: -1950px;
        font-size: 50px;
         width: 100%;
         
      }
    
}
