<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mina</title>
    <link rel="stylesheet" href="mina.css">
</head>
<body>
   
  <div class="cart-container">
    <h1>Cart</h1>
    <div class="notification">
        <span>“Women's Tan Sneaker” removed. </span><a href="#">Undo?</a>
    </div>
    <div class="cart-content">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
          
                <tr>
                    <td>
                        <img src="imgs/Doctor.jpg" alt="Women's Peach Training">
                        <span>Women's Peach Training</span>
                    </td>
                    <td>$57.90</td>
                    <td >
                      <div class="quant-input">
                         <button class="quantity-btn">-</button>
                        <input type="number" value="1" style="width: 60%;">
                        <button class="quantity-btn">+</button>
                      </div>
                       
                    </td>
                    <td>$57.90</td>
                </tr>
            </tbody>
        </table>
        <div class="cart-totals">
            <h2>Cart totals</h2>
            <div class="totals">
                <div class="subtotal">
                    <span>Subtotal</span>
                    <span>$147.80</span>
                </div>
                <div class="total">
                    <span>Total</span>
                    <span>$147.80</span>
                </div>
            </div>
            <div class="coupon">
                <span>Have a coupon?</span>
                <!-- Coupon input form can go here -->
            </div>
            <button class="checkout-btn">PROCEED TO CHECKOUT</button>
        </div>
    </div>
</div>
    <script src="mina.js"></script>
</body>
</html>